.pages-download-links {
    border:black 1px solid;
    padding: 5px;
    margin: 5px 0px 5px 0px;
}

.pages-download-image-app {
    width:350px;
    height:auto;
    padding:50px 0px 0px 20px;
}

.pages-download-image-hauling {
    width:auto;
    height:199px;
    padding:10px 0px 10px 0px;
}

.pages-download-indented {
    padding-left:25px;
}

.pages-download-column-left {
    float:left;
    width: 55%
}

.pages-download-column-right {
    float:left;
    width: 45%
}
.pages-download-image-database {
    width:auto;
    height:595px;
    padding:10px 0px 10px 0px;
}